body {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  flex-direction: column;
}

.pure-g {
	display: flex;
	flex: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.pure-g {
	display: flex;
}

main {
	display: flex !important;
	align-items: center;
	justify-content: center;
}

article {
	box-sizing: border-box;
}

img {
	border-collapse: collapse;
	display: block;
	float: left;
}